<div id="modal-content-wrapper">
  <header id="modal-header">
    <h3>Post Created</h3>
    <p>New post was added to your local portfolio dataset.</p>
  </header>

  <section id="modal-body">
    <div class="text">
      <div><b>ID:</b> {{ data.post.id }}</div>
      <div><b>User:</b> {{ data.post.userId }}</div>
      <div><b>Title:</b> {{ data.post.title }}</div>
      <div><b>Body:</b> {{ data.post.body }}</div>
    </div>
  </section>

  <footer id="modal-footer">
    <button mat-flat-button color="primary" (click)="closeModal()">Close</button>
  </footer>
</div>
