<mat-toolbar class="mat-elevation-z8">
    <button mat-icon-button *ngIf="sidenav.mode === 'over'" (click)="sidenav.toggle()">
        <mat-icon *ngIf="!sidenav.opened">
            menu
        </mat-icon>
        <mat-icon *ngIf="sidenav.opened">
            close
        </mat-icon>
    </button>
    Side navigation
</mat-toolbar>
<mat-sidenav-container>
    <mat-sidenav #sidenav="matSidenav" class="mat-elevation-z8">
        <button mat-button class="menu-button" on routerLink="/users/table" (click)="sidenav.toggle()">
            <mat-icon>view_list</mat-icon>
            <span>Users</span>
        </button>
        <button mat-button class="menu-button" on routerLink="/users/form" (click)="sidenav.toggle()">
            <mat-icon>update</mat-icon>
            <span>Create User</span>
        </button>
        <button mat-button class="menu-button" on routerLink="/posts/posts" (click)="sidenav.toggle()">
            <mat-icon>description</mat-icon>
            <span>Posts</span>
        </button>
        <button mat-button class="menu-button" on routerLink="/posts/createPost" (click)="sidenav.toggle()">
            <mat-icon>note_add</mat-icon>
            <span>Create Post</span>
        </button>
    </mat-sidenav>
    <mat-sidenav-content>
        <div class="content mat-elevation-z8">
            <router-outlet></router-outlet>
        </div>
    </mat-sidenav-content>
</mat-sidenav-container>
