<div id="modal-content-wrapper">
  <header id="modal-header">
    <h3 id="modal-title">User Created Successfully!</h3>
  </header>

  <section id="modal-body">
    <div class="text">
      <div><b>ID:</b> {{ data.user.id }}</div>
      <div><b>Name:</b> {{ data.user.name }}</div>
      <div><b>Username:</b> {{ data.user.username }}</div>
      <div><b>Email:</b> {{ data.user.email }}</div>
    </div>
  </section>

  <footer id="modal-footer">
    <button mat-flat-button color="primary" (click)="closeModal()">Close</button>
  </footer>
</div>
