<div id="modal-content-wrapper">
    <section id="modal-body">
        <div class="userData">
            <div class="text">
                <div><b>ID: </b>{{data.user.id}}</div>
                <div><b>Name: </b>{{data.user.name}}</div>
                <div><b>Job:</b> {{data.user.job}}</div>
                <div><b>Created at:</b> {{data.user.createdAt}}</div>
            </div>
        </div>

    </section>
    <footer id="modal-footer">
        <button mat-raised-button id="modal-cancel-button" (click)="closeModal()">Go back</button>
    </footer>
</div>
