::ng-deep .mat-dialog-container {
  border-radius: 11px;
}

.userData {
  display: flex;
}

.text {
  font-size: 15px;
  margin-left: 20px;
  margin-top: 20px;
  line-height: 30px;
}

button {
  margin-top: 30px;
  margin-right: 20px;
  float: right;
}
